@font-face {
  font-family: "iconfont"; /* Project id 2704520 */
  src: url('iconfont.woff2?t=1627393723396') format('woff2'),
       url('iconfont.woff?t=1627393723396') format('woff'),
       url('iconfont.ttf?t=1627393723396') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mingxi:before {
  content: "\e651";
}

.icon-baobiao:before {
  content: "\e652";
}

.icon-xiugai:before {
  content: "\e6d9";
}

